.main-banner {
    background: #0a24b9;
    height: 450px;
}

.price__form-section {

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0c29d0;
    border-radius: 10px;
    color: white;
    padding: 50px;
    width: 100%; */

    align-items: center;
    padding-top: 230px;
    text-align: center;
}

.price__form-text {
    align-items: center;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
    color: white;
}

.price__form-button__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
}

.price__form-button__item {
    width: 222px;
    height: 22px;
    border: 1px solid #E6EEFF;
    border-radius: 10px;
    padding: 8px;
}

.price__form-button__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Белый цвет */
    text-decoration: none;
}

.price__form-button__item.btn_active {
    background-color: white;
}

.price__form-button__item.btn_active a {
    color: #0c29d0;
}

/* form ------------------------------------------------- */

.price-form {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Распределение по горизонтали */
    width: 100%;
    margin-bottom: 20px; /* Небольшой отступ снизу */
}

.price__image-form {
    width: 70%; /* Ширина изображения */
    flex: 1;
}

.price__image-form img {
    max-width: 100%;
    height: auto;
}

.price__form-form {
    width: 40%;
    padding: 20px;
    /* box-sizing: border-box; */
    /* background-color: #f5f5f5; */
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #616161;

}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #0c29d0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #07208a;
}
