.price__form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px; /* Заполнение экрана по вертикали */
    background: #0c29d0;
    position: relative;
}

.price__form-text {
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    color: white;
    text-align: center;
    margin-top: 180px; /* Отступ сверху */
}

.price__form-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 60px; /* Отступ сверху */
}

.price__form-button__items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 15px 0 0; /* Отступ сверху */
    justify-content: center; /* Выравнивание по центру */
}

.price__form-button__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 40px;
    text-align: center;
    flex: 1;
    border: 1px solid #E6EEFF;
    border-radius: 10px; /* Радиус углов */
    margin: 5px; /* Расстояние между кнопками */
    cursor: pointer; /* Изменение курсора при наведении */
}

.price__form-button__item:last-child {
    margin-right: 0; /* Убрать разделитель с последнего элемента */
}

.price__form-button__item a {
    color: white; /* Белый цвет */
    text-decoration: none;
    flex: 1;
    padding: 8px 8px;
}

.btn_active {
    background-color: white;
}

.btn_active a {
    color: #0c29d0;
}

/* ------------------------------- */

.forma img {
    position: absolute;
    top: 500px; /* Расстояние сверху */
    left: 0; /* Расстояние слева */
    width: 50%;
}

/* --------- */


.price__form-form {
    position: absolute;
    top: 500px; /* Расстояние сверху */
    left: 70%; /* Левый отступ */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}


button {
    background-color: #0c29d0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

